extends layout

block content
  - var url = 'http://web.mta.info/status/serviceStatus.txt'
  .container
    .masthead
      h3.text-muted MTA Stats

    //- Jumbotron
    .jumbotron
      h1 How is the MTA doing?
      p.lead
        | It's time to track MTA's performance.
        | You'll find an aggregation of data taken from&nbsp;
        a(href=url, target='_blank')= url
        | &nbsp;below.

      p.lead
        | This data is used to create an average of the number of times the possible statuses occur.

      small.note Note: Data aggregation began March 3, 2014

    .row(data-legend)
      h4 Legend

    .row.graph(data-data=data.day, data-graph='bar')
      h2 Today
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')

    .row.graph(data-data=data.week, data-graph='bar')
      h2 Past Week
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')

    .row.graph(data-data=data.last30, data-graph='bar')
      h2 Past Month
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')

    .row.graph(data-data=data.lastyear, data-graph='bar')
      h2 Past Year
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')
      .chart: svg(style='height:200px;width:225px;')


    // Site footer
    .footer
      p MTA Stats 2014
